//desktop
$mq1680: 1680px;
$mq1480: 1480px;
$mq1380: 1380px;
$desktop: 1280px;
$custom-tablet: 1200px;
$tablet: 1180px;
$custom-tablet-landscape: 1024px;
$tablet-portrait: 960px;
$mobile: 680px;
$min-mobile: 413px;
$mobile-360: 380px;
$small-mobile: 330px;
